# http://www.gnu.org/software/automake
Makefile.in
autoloads.el
autoloads.elc
\#%*

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf
.vscode
#Release
.vim/sessions/*.*
#build
cmake-*
.vim/.netrwhist
.config/nvim/.netrwhist
autom4te.cache
/autoscan.log
/autoscan-*.log
compile_commands.json
/install-sh
/missing
.LfCache/
*.zwc

# https://www.gnu.org/software/libtool/
/ltmain.sh

# http://www.gnu.org/software/texinfo
/texinfo.tex

# http://www.gnu.org/software/m4/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# emacs
.emacs.d/company-statistics-cache.el
.emacs.d/eclipse.jdt.ls/
.emacs.d/url
.emacs.d/eln-cache
.emacs.d/pdf-view-dump
.emacs.d/quelpa
.emacs.d/rime/build
.emacs.d/rime/installation.yaml
.emacs.d/emacs.pdmp
.emacs.d/kkcrc
.emacs.d/.dap-breakpoints
.config/fish/fish_variables

.emacs.d/eaf/*
.emacs.d/places
.emacs.d/pdf-view-dump
.emacs.d/request/
.emacs.d/workspace/
.emacs.d/.depend
.emacs.d/anaconda-mode/
.emacs.d/.wg-file.el
.emacs.d/url/cache
.emacs.d/.emacs.desktop
.emacs.d/auto-save-list
.emacs.d/.session
.emacs.d/session.*
.emacs.d/custom.el
.emacs.d/*.elc
.emacs.d/company-statistics-cache.el
.emacs.d/CVS
.emacs.d/.svn
.emacs.d/*_flymake.el
.emacs.d/*~
.emacs.d/*.log
.emacs.d/.yas-compiled-snippets.el
.emacs.d/.bookmarks.el
.emacs.d/.cvsignore
.emacs.d/.*.lock
.emacs.d/tramp
.emacs.d/TODO
.emacs.d/anything-c-adaptive-history
.emacs.d/.org-id-locations
.emacs.d/cookies
.emacs.d/newsticker
.emacs.d/ac-comphist.dat
.emacs.d/\#*
.emacs.d/elpa
.emacs.d/eshell/
.emacs.d/eshell/lastdir
.emacs.d/eshell/history
.emacs.d/semanticdb/
.emacs.d/*.swp
.emacs.d/*~
.emacs.d/abbrev_defs
.emacs.d/swank
.emacs.d/.mc-lists.el
.emacs.d/emms/
.emacs.d/tutorial/
.emacs.d/var
.emacs.d/org-clock-save.el
.emacs.d/.\#*
.emacs.d/emms/
.emacs.d/projectile-bookmarks.eld
.emacs.d/history
.emacs.d/recentf
.emacs.d/ido.last
.emacs.d/projectile.cache
.emacs.d/.orig
.emacs.d/.unpacked
.emacs.d/srecode-map.el
.emacs.d/custom-set-variables.el
.emacs.d/amx-items
.emacs.d/network-security.data
.emacs.d/.last-package-update-day
.emacs.d/.dir-locals.el
.emacs.d/*.mp3
.emacs.d/*.mp4
.emacs.d/*.ogg
.emacs.d/nov-places
.emacs.d/.cache/
.emacs.d/projects
.emacs.d/transient/
.emacs.d/elpy/
.emacs.d/.lsp-session-v1

# lsp
.ccls-cache/
.cache
.log/

.trash/*

# TAGS
TAGS
GTAGS
GPATH
GRTAGS
